{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block scripts %}
  <script src="{% static 'posts/detail.js' %}" defer></script>
{% endblock scripts %}

{% block title %}{{ obj.title }} detail{% endblock title %}


{% block content %}
  <!-- Update Modal -->
  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updateModalLabel">Create post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="alert-box"></div>
          <form action="" id="update-form">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="modal-footer">
              <button type="button" class="btn btn-danger btn-rounded" data-bs-dismiss="modal">close</button>
              <button type="submit" class="btn btn-success btn-rounded">update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">Create post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete <b>"{{obj.title}}"</b>?
          </p>
          <div class="modal-footer">
            <form action="" id="delete-form">
              {% csrf_token %}
              <button type="button" class="btn btn-danger btn-rounded me-2" data-bs-dismiss="modal">close</button>
              <button type="submit" class="btn btn-success btn-rounded">delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- carousel -->
  {% if obj.get_photos %}
  <div class="mb-3">
    <div id="carouselExample" class="carousel slide mb-2" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for p in obj.get_photos %}
          <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
            <img src="{{p.image.url}}" class="d-block w-100" alt="photo{{obj.pk}}">
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  {% else %}
    <div class="mt-2 mb-2">No photos to show</div>
  {% endif %}

  <a href="{% url 'posts:main-board' %}" id="back-btn" class="btn btn-secondary rounded-pill me-2">back</a>
  <div id="update-btn" class="btn btn-primary d-none rounded-pill me-2" data-bs-toggle="modal" data-bs-target="#updateModal">update</div>
  <div id="delete-btn" class="btn btn-danger d-none rounded-pill" data-bs-toggle="modal" data-bs-target="#deleteModal">delete</div>
  <div id="spinner-box" class="text-center">
    <div class="spinner-border" role="status"></div>
  </div>

  <div class="card shadow-sm border-0 p-4 mt-3 rounded card-rounded">
    <div id="post-box" class="mt-1"></div>
    <hr>
    <div class="user-profile mt-2">
      <img src="{{ obj.author.avatar.url }}" alt="{{ obj.author.user.username }}" class="rounded-circle" width="50" height="50">
      <div class="d-inline-block">{{ obj.author.user.username }}</div>
    </div>
  </div>


  <div class="card shadow-sm border-0 p-4 mt-3 rounded card-rounded">
    <h4>Comments:</h4>
    <hr>
    <div id="comments-box">
      <div id="comments-spinner" class="text-center">
        <div class="spinner-border" role="status"></div>
      </div>
    </div>
    <form id="comment-form" class="mt-3">
      {% csrf_token %}
      <div class="form-group">
        <textarea class="form-control" id="comment-body" rows="3" placeholder="Write your comment..."></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-rounded mt-2">Post Comment</button>
    </form>
  </div>
{% endblock content %}
