{% extends "base.html" %}

{% load static %}

{% block scripts %}
  <script src="{% static 'posts/main.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
post
{% endblock title %}

{% block content %}
  {% comment %} {% for obj in qs %}
    {{ obj.title }} - {{ obj.body }} <br>
  {% endfor %} {% endcomment %}

  <div id="posts-box">
    <div id="spinner-box" class="text-center">
      <div class="spinner-border" role="status"></div>
    </div>
  </div>
  <div id="end-box" class="text-center mb-3">
    <div id="load-btn" class="btn btn-primary">Load more</div>
  </div>
{% endblock content %}

