:root {
  --primary-green: #3bc295;
  --primary-yellow: #ffd369;
}

.bg-primary-green { 
  background-color: var(--primary-green) 
}

.bg-primary-yellow { 
  background-color: var(--primary-yellow)
}

.btn-rounded {
  border-radius: 3rem !important;
}

.card-rounded {
  border-radius: .75rem !important;
}

.dz {
  border: dashed !important;
  border-color: #ccc !important;
  border-radius: 10px !important;
}

.dz:hover {
  background: aliceblue !important;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 4 / 3;
  border-radius: 10px;
}

/* Responsive adjustments for different screen sizes use bootstrap breakpoint */
@media (min-width: 576px) {
  .carousel-item img {
    aspect-ratio: 16 / 9;
  }
}

@media (min-width: 768px) {
  .carousel-item img {
    aspect-ratio: 5 / 3;
  }
}

@media (min-width: 992px) {
  .carousel-item img {
    max-height: 500px;
  }
}

@media (min-width: 1200px) {
  .carousel-item img {
    max-height: 600px;
  }
}

.carousel-item img:hover {
  cursor: pointer;
  opacity: 0.9;
}

.carousel-inner img {
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
