{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- favicon -->
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/png">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Dropzone CSS -->
  <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <!-- Custom JS -->
  <script src="{% static 'functions.js' %}" defer></script>
  {% block scripts %}

  {% endblock scripts %}

  <title>red posts | {% block title %}{% endblock title %}</title>
</head>
<body>
  <div class="container mt-3 mb-3">
    {% block content %}
    {% endblock content %}
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- Dropzone JS -->
  <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
</body>
</html>